[Unit]
Description=PikaBot Ultroid Service

[Service]
ExecStart=/home/ec2-user/Ultroid/startup.sh  
WorkingDirectory=/home/ec2-user/Ultroid
Restart=always 
